@media only screen and (max-width: 400px) {
  /* line 12, ../sass/partials/_media.scss */
  .banner {
    height: 100vh !important;
    background: url(../../assets/banner-image/background-phone.jpg) !important;
  }

  /* line 17, ../sass/partials/_media.scss */
  .carousel-inner {
    width: 70% !important;
  }

  /* line 21, ../sass/partials/_media.scss */
  .item {
    height: 15em !important;
  }

  /* line 25, ../sass/partials/_media.scss */
  .item p {
    font-size: 0.85em;
  }

  /* line 29, ../sass/partials/_media.scss */
  .timeline-border {
    border: 0em !important;
  }

  /* line 33, ../sass/partials/_media.scss */
  .timeline-block {
    height: 19em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 38, ../sass/partials/_media.scss */
  .timeline-block:nth-child(2n) {
    height: 16em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 43, ../sass/partials/_media.scss */
  .timeline-block:nth-child(3n) {
    height: 11.5em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 48, ../sass/partials/_media.scss */
  .timeline-block:nth-child(4n) {
    margin-bottom: 1.5em !important;
  }

  /* line 52, ../sass/partials/_media.scss */
  .timeline-block:nth-child(5n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 57, ../sass/partials/_media.scss */
  .timeline-block:nth-child(6n) {
    height: 24em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 62, ../sass/partials/_media.scss */
  .timeline-block:nth-child(7n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 67, ../sass/partials/_media.scss */
  .timeline-block:nth-child(8n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 72, ../sass/partials/_media.scss */
  .timeline-block:nth-child(9n) {
    height: 24em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 77, ../sass/partials/_media.scss */
  .timeline-block:nth-child(10n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 1em !important;
  }

  /* line 82, ../sass/partials/_media.scss */
  .timeline-block:nth-child(12n) {
    height: 16em !important;
    /* Height is very important! */
    margin-bottom: 1.5em !important;
  }

  /* line 87, ../sass/partials/_media.scss */
  .timeline-block:nth-child(13n) {
    height: 14.5em !important;
    /* Height is very important! */
    margin-bottom: 1em !important;
  }

  /* line 92, ../sass/partials/_media.scss */
  .timeline-block:nth-child(14n) {
    height: 10em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 97, ../sass/partials/_media.scss */
  .timeline-block:nth-child(15n) {
    height: 10em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 102, ../sass/partials/_media.scss */
  .timeline-block:nth-child(16n) {
    height: 22em !important;
    /* Height is very important! */
    margin-bottom: 1.4em !important;
  }

  /* line 107, ../sass/partials/_media.scss */
  .timeline-block:nth-child(18n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 112, ../sass/partials/_media.scss */
  .timeline-block:nth-child(19n) {
    margin-bottom: 1em !important;
  }

  /* line 116, ../sass/partials/_media.scss */
  .timeline-block:nth-child(20n) {
    margin-bottom: 2.9em !important;
  }

  /* line 121, ../sass/partials/_media.scss */
  .timeline-container::before {
    /* this is the vertical line */
    left: 0 !important;
  }

  /* these are the points on the line */
  /* line 127, ../sass/partials/_media.scss */
  .timeline-circle {
    width: 1.8em !important;
    height: 1.8em !important;
    left: 0 !important;
    margin-left: -0.95em !important;
  }

  /* line 134, ../sass/partials/_media.scss */
  .timeline-content {
    margin-left: 2em !important;
    width: 21.5em !important;
  }

  /* line 139, ../sass/partials/_media.scss */
  .timeline-block:nth-child(even) .date {
    left: auto !important;
    right: 0 !important;
  }

  /* line 144, ../sass/partials/_media.scss */
  .timeline-block:nth-child(even) .timeline-content {
    padding: 0.72em 2.214em !important;
    float: none !important;
  }

  /* line 149, ../sass/partials/_media.scss */
  .tag-line {
    font-size: 0.5em;
  }

  /* line 153, ../sass/partials/_media.scss */
  .resource-title {
    font-size: 1.9em;
  }

  /* line 157, ../sass/partials/_media.scss */
  .resources-list {
    font-size: 2em;
  }
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  /* line 165, ../sass/partials/_media.scss */
  .banner {
    height: 100vh !important;
    background: url(../../assets/banner-image/background-tablet.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* line 173, ../sass/partials/_media.scss */
  .timeline-block {
    height: 19em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 178, ../sass/partials/_media.scss */
  .timeline-block:nth-child(2n) {
    height: 16em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 183, ../sass/partials/_media.scss */
  .timeline-block:nth-child(3n) {
    height: 11.5em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 188, ../sass/partials/_media.scss */
  .timeline-block:nth-child(4n) {
    margin-bottom: 1.5em !important;
  }

  /* line 192, ../sass/partials/_media.scss */
  .timeline-block:nth-child(5n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 197, ../sass/partials/_media.scss */
  .timeline-block:nth-child(6n) {
    height: 24em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 202, ../sass/partials/_media.scss */
  .timeline-block:nth-child(7n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 207, ../sass/partials/_media.scss */
  .timeline-block:nth-child(8n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 212, ../sass/partials/_media.scss */
  .timeline-block:nth-child(9n) {
    height: 24em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 217, ../sass/partials/_media.scss */
  .timeline-block:nth-child(10n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 1em !important;
  }

  /* line 222, ../sass/partials/_media.scss */
  .timeline-block:nth-child(12n) {
    height: 16em !important;
    /* Height is very important! */
    margin-bottom: 1.5em !important;
  }

  /* line 227, ../sass/partials/_media.scss */
  .timeline-block:nth-child(13n) {
    height: 14.5em !important;
    /* Height is very important! */
    margin-bottom: 1em !important;
  }

  /* line 232, ../sass/partials/_media.scss */
  .timeline-block:nth-child(14n) {
    height: 10em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 237, ../sass/partials/_media.scss */
  .timeline-block:nth-child(15n) {
    height: 10em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 242, ../sass/partials/_media.scss */
  .timeline-block:nth-child(16n) {
    height: 22em !important;
    /* Height is very important! */
    margin-bottom: 1.4em !important;
  }

  /* line 247, ../sass/partials/_media.scss */
  .timeline-block:nth-child(18n) {
    height: 13em !important;
    /* Height is very important! */
    margin-bottom: 0em !important;
  }

  /* line 252, ../sass/partials/_media.scss */
  .timeline-block:nth-child(19n) {
    margin-bottom: 1em !important;
  }

  /* line 256, ../sass/partials/_media.scss */
  .timeline-block:nth-child(20n) {
    margin-bottom: 2.9em !important;
  }

  /* line 260, ../sass/partials/_media.scss */
  .timeline-block:last-child {
    height: 14em !important;
    /* Height is very important! */
    margin-bottom: 1.3em !important;
  }

  /* these are the points on the line */
  /* line 280, ../sass/partials/_media.scss */
  .timeline-content {
    margin-left: 1em !important;
    width: 21.5em !important;
  }

  /* line 285, ../sass/partials/_media.scss */
  .timeline-block:nth-child(even) .timeline-content {
    padding-left: 3.9em !important;
    margin-right: 1em !important;
  }
}
/* line 6, ../sass/styles.scss */
body {
  font-size: 12px;
}

/*<---------------------------------------------------------Navbar------------------------------------------------------------------------->*/
/* line 11, ../sass/styles.scss */
.navbar {
  margin-bottom: 0 !important;
  border: none !important;
  background-color: #ffffff !important;
}
/* line 16, ../sass/styles.scss */
.navbar .nav li {
  font-family: gibson, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.27em;
  font-size: 0.85em;
  font-weight: 100;
  color: #999;
}
/* line 25, ../sass/styles.scss */
.navbar .navbar-brand {
  padding: 0.25em 1.36em 0.25em !important;
}

/*<-------------------------------------------------Banner Background Image--------------------------------------------------------------->*/
/* line 32, ../sass/styles.scss */
.banner {
  width: 100%;
  height: 58em;
  background: url(../../assets/banner-image/janeaustenbackground2white.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/*<----------------------------------------------------Quotes Carousel-------------------------------------------------------------------->*/
/* line 42, ../sass/styles.scss */
.carousel {
  width: 100%;
  height: 28.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 50, ../sass/styles.scss */
.carousel .carousel-inner {
  width: 50%;
}
/* line 55, ../sass/styles.scss */
.carousel .item {
  height: 10em;
}
/* line 60, ../sass/styles.scss */
.carousel .item p {
  padding-left: 1.18em;
  padding-right: 1.18em;
  font-family: serif;
  color: #777;
}
/* line 67, ../sass/styles.scss */
.carousel blockquote:before, .carousel blockquote:after {
  content: '\f10d';
  font-family: 'FontAwesome';
  color: #ebb1b2;
}
/* line 73, ../sass/styles.scss */
.carousel blockquote:after {
  content: '\f10e';
  float: right;
}
/* line 78, ../sass/styles.scss */
.carousel .carousel-control.left {
  background-image: none !important;
}
/* line 82, ../sass/styles.scss */
.carousel .carousel-control.right {
  background-image: none !important;
}
/* line 87, ../sass/styles.scss */
.carousel .glyphicon {
  color: #c3c0c8 !important;
}
/* line 92, ../sass/styles.scss */
.carousel .carousel-indicators li {
  background-color: #ebb1b2 !important;
}

/*<---------------------------------------------------------Timeline------------------------------------------------------------------------>*/
/* line 99, ../sass/styles.scss */
.timeline-section {
  background-color: #C3C0C8;
  padding: 2.1em;
  /* This is so the pink border shows up */
  font-family: gillsans, sans-serif;
  color: #777;
}
/* line 105, ../sass/styles.scss */
.timeline-section .timeline-border {
  border: 0.75em solid #e5d2d2;
}
/* line 109, ../sass/styles.scss */
.timeline-section .timeline-container {
  position: relative;
  max-width: 73.1em;
  margin: 0 auto;
  padding: 3.6em 0;
  /* this is the vertical line */
}
/* line 116, ../sass/styles.scss */
.timeline-section .timeline-container::before {
  content: '';
  width: 0.25em;
  height: 98%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
}
/* line 126, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block {
  width: 100%;
  height: 12.8em;
  /* Height is very important! */
  margin-bottom: 3.5em;
  /* removes margin from last timeline item so timeline equidistant from top and bottom */
  /* these are the points on the line */
}
/* line 132, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:last-child {
  margin-bottom: 0;
}
/* line 137, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-circle {
  width: 2.145em;
  height: 2.145em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: -0.83em;
  margin-left: -1.1em;
  background-color: #636a36;
}
/* line 148, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-content {
  position: relative;
  padding: 0.72em 2.214em;
  border-radius: 0.5em;
  background: #ffffff;
  box-shadow: 0 2.1em 1.8em -1em #a69089;
  margin-left: 4.16em;
  margin-right: 4.16em;
  width: 28.75em;
}
/* line 158, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-content .date {
  background: #e5d2d2;
  display: inline-block;
  color: #A17878;
  padding: 0.7em;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
}
/* line 173, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:nth-child(even) .date {
  right: auto;
  left: 0;
}
/* line 178, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:nth-child(even) .timeline-content {
  padding-left: 5em;
  float: right;
}

/*<---------------------------------------------------------Footer------------------------------------------------------------------------>*/
/* line 187, ../sass/styles.scss */
.white-space {
  height: 1em;
  background-color: #ffffff;
}

/* line 192, ../sass/styles.scss */
footer {
  background-color: #e5d2d2;
}
/* line 195, ../sass/styles.scss */
footer .tag-line {
  display: flex;
  align-items: center;
}
/* line 199, ../sass/styles.scss */
footer .tag-line p {
  font-family: garamond, serif;
  font-size: 2.86em;
  color: #a17878;
}
/* line 204, ../sass/styles.scss */
footer .tag-line p .tag-line-number {
  text-decoration: underline;
}
/* line 208, ../sass/styles.scss */
footer .tag-line p .emphasized {
  font-family: freebooter script, gillsans, sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}
/* line 216, ../sass/styles.scss */
footer .resource-title {
  text-align: left;
  padding: 0.25em 0 0.25em 0;
  color: #777;
  font-family: gillsans, sans-serif;
  font-weight: 500;
  letter-spacing: 0.18em;
}
/* line 224, ../sass/styles.scss */
footer .resource-title::before {
  content: '';
  width: 0.13em;
  height: 12%;
  position: absolute;
  left: 0.002em;
  transform: translateX(50%);
  background: #ffffff;
}
/* line 235, ../sass/styles.scss */
footer .resources-list {
  list-style: none;
  text-align: left;
  padding-left: 1.4em;
}
/* line 240, ../sass/styles.scss */
footer .resources-list p {
  font-size: 0.93em;
  color: #777;
  font-weight: 600;
}

/* line 248, ../sass/styles.scss */
.copyright {
  height: 4.5em;
  padding: 0.5em;
  text-align: center;
  color: #f2d9d9;
  background-color: #a17878;
}
