/* line 4, ../sass/styles.scss */
body {
  font-size: 12px;
}

/*<---------------------------------------------------------Navbar------------------------------------------------------------------------->*/
/* line 9, ../sass/styles.scss */
.navbar {
  margin-bottom: 0 !important;
  border: none !important;
  background-color: #ffffff !important;
}
/* line 14, ../sass/styles.scss */
.navbar .nav li {
  font-family: gibson, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.27em;
  font-size: 0.85em;
  font-weight: 100;
  color: #999;
}
/* line 23, ../sass/styles.scss */
.navbar .navbar-brand {
  padding: 0.25em 1.36em 0.25em !important;
}

/*<-------------------------------------------------Banner Background Image--------------------------------------------------------------->*/
/* line 30, ../sass/styles.scss */
.banner {
  width: 100%;
  height: 58em;
  background: url(../../assets/banner-image/janeaustenbackground2white.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

/*<----------------------------------------------------Quotes Carousel-------------------------------------------------------------------->*/
/* line 40, ../sass/styles.scss */
.carousel {
  width: 100%;
  height: 28.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 48, ../sass/styles.scss */
.carousel .carousel-inner {
  width: 50% !important;
}
/* line 53, ../sass/styles.scss */
.carousel .item p {
  padding-left: 1.18em;
  padding-right: 1.18em;
  font-family: serif;
  color: #777;
}
/* line 60, ../sass/styles.scss */
.carousel blockquote:before, .carousel blockquote:after {
  content: '\f10d';
  font-family: 'FontAwesome';
  color: #ebb1b2;
}
/* line 66, ../sass/styles.scss */
.carousel blockquote:after {
  content: '\f10e';
  float: right;
}
/* line 71, ../sass/styles.scss */
.carousel .carousel-control.left {
  background-image: none !important;
}
/* line 75, ../sass/styles.scss */
.carousel .carousel-control.right {
  background-image: none !important;
}
/* line 80, ../sass/styles.scss */
.carousel .glyphicon {
  color: #c3c0c8 !important;
}
/* line 85, ../sass/styles.scss */
.carousel .carousel-indicators li {
  background-color: #ebb1b2 !important;
}

/*<---------------------------------------------------------Timeline------------------------------------------------------------------------>*/
/* line 92, ../sass/styles.scss */
.timeline-section {
  background-color: #C3C0C8;
  padding: 2.1em;
  /* This is so the pink border shows up */
  font-family: gillsans, sans-serif;
  color: #777;
}
/* line 98, ../sass/styles.scss */
.timeline-section .timeline-border {
  border: 0.75em solid #e5d2d2;
}
/* line 102, ../sass/styles.scss */
.timeline-section .timeline-container {
  position: relative;
  max-width: 73.1em;
  margin: 0 auto;
  padding: 3.6em 0;
  /* this is the vertical line */
}
/* line 109, ../sass/styles.scss */
.timeline-section .timeline-container::before {
  content: '';
  width: 0.25em;
  height: 98%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
}
/* line 119, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block {
  width: 100%;
  height: 12.8em;
  /* Height is very important! */
  margin-bottom: 3.5em;
  /* removes margin from last timeline item so timeline equidistant from top and bottom */
  /* these are the points on the line */
}
/* line 125, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:last-child {
  margin-bottom: 0;
}
/* line 130, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-circle {
  width: 2.145em;
  height: 2.145em;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: -0.83em;
  margin-left: -1.1em;
  background-color: #636a36;
}
/* line 141, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-content {
  position: relative;
  padding: 0.72em 2.214em;
  border-radius: 0.5em;
  background: #ffffff;
  box-shadow: 0 2.1em 1.8em -1em #a69089;
  margin-left: 4.16em;
  margin-right: 4.16em;
  width: 28.75em;
}
/* line 151, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block .timeline-content .date {
  background: #e5d2d2;
  display: inline-block;
  color: #A17878;
  padding: 0.7em;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
}
/* line 166, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:nth-child(even) .date {
  right: auto;
  left: 0;
}
/* line 171, ../sass/styles.scss */
.timeline-section .timeline-container .timeline-block:nth-child(even) .timeline-content {
  padding-left: 5em;
  float: right;
}

/*<---------------------------------------------------------Footer------------------------------------------------------------------------>*/
/* line 180, ../sass/styles.scss */
.white-space {
  height: 1em;
  background-color: #ffffff;
}

/* line 185, ../sass/styles.scss */
footer {
  background-color: #e5d2d2;
}
/* line 188, ../sass/styles.scss */
footer .tag-line {
  display: flex;
  align-items: center;
}
/* line 192, ../sass/styles.scss */
footer .tag-line p {
  font-family: garamond, serif;
  font-size: 2.86em;
  color: #a17878;
}
/* line 197, ../sass/styles.scss */
footer .tag-line p .tag-line-number {
  text-decoration: underline;
}
/* line 201, ../sass/styles.scss */
footer .tag-line p .emphasized {
  font-family: gillsans, sans-serif;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}
/* line 209, ../sass/styles.scss */
footer .resource-title {
  text-align: left;
  padding: 0.25em 0 0.25em 0;
  color: #777;
  font-family: gillsans, sans-serif;
  font-weight: 500;
  letter-spacing: 0.18em;
}
/* line 217, ../sass/styles.scss */
footer .resource-title::before {
  content: '';
  width: 0.13em;
  height: 12%;
  position: absolute;
  left: 0.002em;
  transform: translateX(50%);
  background: #ffffff;
}
/* line 228, ../sass/styles.scss */
footer .resources {
  list-style: none;
  text-align: left;
  padding-left: 1.4em;
}
/* line 233, ../sass/styles.scss */
footer .resources p {
  font-size: 0.93em;
  color: #777;
  font-weight: 600;
}

/* line 241, ../sass/styles.scss */
.copyright {
  height: 4.5em;
  padding: 0.5em;
  text-align: center;
  color: #f2d9d9;
  background-color: #a17878;
}
