$white: #ffffff;
$gray: #999;
$gray-arrows: #c3c0c8;
$bright-pink: #ebb1b2;
$dull-pink: #e5d2d2;
$darker-pink: #a17878;
$copyright-pink: #f2d9d9;
$text-black-gray: #777;
$forrest-green: #636a36;
$maroon: #a17878;
$brown-box-shadow: #a69089;

$sans-serif: gibson, sans-serif;
$sans-serif-gillsans: gillsans, sans-serif;
$sans-serif-values: Titillium Web, sans-serif;
$serif: garamond, serif;
$script: freebooter script;

$light: 100;
$normal: 500;
